#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

body {
  background: url("../img/street.jpg") no-repeat;
  background-size: cover;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: gray;

}
